@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: url(images/image-1.png);
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    padding:0 7%;
    transition: background-image 1.2s;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background: transparent;
}
.logo{
    width: 200px;
    cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: center;
}
nav ul li{
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
.nav-link:hover{
    color: #9cd8df;
}
nav .btn{
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 10px 30px;
    margin-right: 7%;

}
nav .btn:hover{
    background: #9cd8df;
}
.info{
    width: 100%;
    padding:07%;
    display: flex;
    align-items: center;
    color: #fff;
    position: fixed;
    bottom: 50px;
    left: 0;
}
.info div h2{
    font-size: 44px;
    font-weight: 400px;
}
.info .line{
    flex: 1;
    background: #fff;
    height: 4px;
}
/* CSS Contact */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.contact
{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(images/image-4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #00bcd4;
}
.contact .content p{
    font-weight: 300px;
    color: rgb(52, 18, 18);
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 30px;
}
.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300px;
}
.container .contactInfo .box .text h3{
    font-weight: 500px;
    color: #00bcd4;
}
.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
    border-radius: 10px;
}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500px;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactForm .inputBox span
{
    position: absolute;
    Left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px e;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
contactForm .inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translate(-20px);
}
.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
@media(max-width: 991px) {
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
}
/* CSS GALLERY */
.galcontainer{
    margin: 0;
    padding: 0;
    transition: all .2s linear;
    background: #222;
}
.gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin:0 auto;
} 
.gallery a{
    height: 200px;
    width: 300px;
    margin: 20px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 3px 5px #000;
}
.gallery a img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.gallery a img:hover{
    transform: scale(1.2);
}
h1{
    font-size: 50px;
    margin-top: 10px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
/* CSS Social Media */
.footer{
    padding: 40px e;
    background-color: #fff;
    font-weight: 400;
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: O#4b4c4d;
}

.footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    Line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin:08px;
    opacity: 0.75;
}
.footer .social a:hover{
    opacity: 2;
}
.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}
.footer ul li a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer ul li a:hover{
    opacity: 1;
}
.footer .copyright{
    margin-top: 15px;
    text-align: center;
}